/* styles.css */

/* Estilize o corpo da página */
.login-form-body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Estilize o título */
.login-form-h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilize o formulário */
.login-form-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home-body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.home-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.home-h1 {
    font-size: 24px;
    margin-top: 20px;
}

.home-p {
    font-size: 16px;
    margin: 10px 0;
}

.home-a {
    text-decoration: none;
    background-color: #d9534f;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.home-a:hover {
    background-color: #c9302c;
}

/* Estilize os rótulos dos campos de entrada */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Estilize os campos de entrada */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilize o botão de login */
.login-form-button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilize o botão de login quando passar o mouse */
.login-form-button:hover {
    background-color: #0056b3;
}

/* styles.css */

/* Estilize o corpo da página */
.lista_alimentos_body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Estilize o título */
.lista_alimentos_h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Estilize a lista de alimentos */
.lista_alimentos_ul {
    list-style-type: none;
    padding: 0;
}

/* Estilize os itens da lista */
.lista_alimentos_li {
    margin-bottom: 10px;
}

/* Estilize o total de calorias */
.lista_alimentos_li-total-calorias {
    font-weight: bold;
}

/* Estilize o link de volta para a Home */
.lista_alimentos_a {
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

/* Estilize o link de volta para a Home quando passar o mouse */
.lista_alimentos_a:hover {
    background-color: #0056b3;
}

/* styles.css */

/* Estilize a lista de navegação */
.sidebar-nav {
    list-style-type: none;
    padding: 0;
    color: #fff;
    font-size: 20px;
    background-color: #007bff; /* Cor de fundo da navbar */
    display: flex; /* Torna a lista flexível */
    justify-content: flex-end; /* Alinha os itens à direita (pode ser flex-start para alinhar à esquerda) */
    border-radius: 0px 0px 10px 10px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 0px #000000;
}

/* Estilize os itens da lista */
.sidebar-nav li {
    padding: 10px;
}

/* Estilize os links dos itens da lista */
.sidebar-nav li a {
    text-decoration: none;
    color: #fff; /* Cor do texto dos links */
    transition: background-color 0.3s;
}

/* Estilize os links dos itens da lista quando passar o mouse */
.sidebar-nav li a:hover {
    background-color: #0056b3; /* Cor de fundo dos links quando passar o mouse */
}

/* Estilos para a tabela */
table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

/* Estilos para o cabeçalho */
th {
    background-color: #333;
    color: #fff;
}

/* Estilos para as células de dados */
td {
    background-color: #f2f2f2;
}

/* Estilos para a legenda da tabela (título) */
caption {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

/* Estilos para a navegação entre páginas */
.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}

/* Estilize o botão de details */
.details-form-button {
    /* display: flex; */
    /* width: 50%; */
    text-decoration: none;
    padding: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilize o botão de details quando passar o mouse */
.details-form-button:hover {
    background-color: #0056b3;
}

/* Estilize o botão de delete */
.delete-form-button {
    /* display: flex; */
    /* width: 50%; */
    text-decoration: none;
    padding: 5px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilize o botão de delete quando passar o mouse */
.delete-form-button:hover {
    background-color: #b30000;
}